html {
	font-size:10px;
}

body {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ui.container {
	align-items: center;
}

h1 {
	font-size: 4.236rem;
	transition: color 2.0s;
}

table {
	margin: 10px auto;
	width: 90vw;
	height: 90vw;
}

tbody {
	border: 1px solid black;	
}

td {
	padding: 1rem;
	font-size: 6.854rem;
	border: 6px solid #444;
	width: 33%;
	height: 33%;
}

.ui.modal>.actions, .ui.modal>.header {
	border: none;
	text-align: center;
}

.ui.modal>.header {
	font-size: 4.236rem;
}

#setSymbol .button {
	font-size: 4.236rem;
}

#result .header {
	font-size: 4.236rem;
}

#result .button {
	font-size: 1.618rem;
}

td.O {
	color: #22be34;
}

td.X {
	color: #54C8FF;
}

/*
* { background-color: rgba(255,0,0,0.3);}
* * { background-color: rgba(0,255,0,0.3);}
* * * { background-color: rgba(0,0,255,0.3);}
* * * * { background-color: rgba(255,0,0,0.3);}
* * * * * { background-color: rgba(0,255,0,0.3);}
*/

@media (min-width: 600px){
	html {
		font-size: 12px;
	}
	table {
		width: 75vw;
		height: 75vw;
	}
}

@media (min-width: 800px){
	html {
		font-size: 13px;
	}
	table {
		width: 50vw;
		height: 50vw;
	}
}

@media (min-width: 1000px){
	html {
		font-size: 14px;
	}
	table {
		width: 30vw;
		height: 30vw;
	}
}
 
