html {
	font-size: 14px;
}

body {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ui.container {
	align-items: center;
}

h1 {
	font-size: 2.618rem;
	transition: color 2.0s;
}

h2 {
	font-size: 2.618rem;
	text-align: center;
	transition: color 2.0s;
}

h3, .ui.form .field>label, .ui.form input[type="number"] {
	font-size: 1rem;
	transition: color 2.0s;
}

.ui.form input[type="number"] {
	width: 100%;
}

.ui.raised.segment {
	border: 0.382rem solid black;
	margin: 15px auto;
	padding: 30px;
	max-width: 500px;
	width: 80%;
	transition: border-color 2.0s;
}

.ui.form {
	margin: 30px auto;
	max-width: 500px;
	width: 80%;
}

div.field {
	width: 50%;
}

label {
	transition: color 2.0s;	
}

input {
	transition: color 2.0s;		
}

.ui.modal>.header {
	border: none;
}

#paused {
	font-size: 4.236rem;
	text-align: center;
}


@media (min-width: 600px){
	html {
		font-size: 16px;
	}
}

@media (min-width: 800px){
	html {
		font-size: 18px;
	}
}

@media (min-width: 1000px){
	html {
		font-size: 20px;
	}
}
 
